@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Roboto:wght@100&family=Sofia&display=swap');

:root{
	--ligt-gray:#2b3032a1;
	--primary-color:#45ccb8;
	--border:#2b303218;
	--text-color:#ff686b;
	--roboto:"Roboto",sans-serif;
	--gugi:"Gugi", cursive;
	--sofia:"Sofia", cursive;
}

.primary-color{
	color:var(--primary-color);
}
	.bg-primary-color{
		background-color.var(--primary-color)!important;

	}

.text-color {
	color.var(--text-color);

}

.font-roboto{
	font-family:var(--roboto);
}
